<header>

  <dx-toolbar class="header-toolbar">

    <dxi-item
      *ngIf="menuToggleEnabled"
      location="before"
      widget="dxButton"
      cssClass="menu-button"
      [options]="{
        icon: 'menu',
        stylingMode: 'text',
        onClick: toggleMenu
      }">
    </dxi-item>

    <dxi-item
      location="before"
      cssClass="header-title2"
      *ngIf="currentItem"
      [text]="currentItem">
    </dxi-item>


    <dxi-item
      location="center"
      cssClass="header-title"
      *ngIf="title"
      [text]="title"
      >
      
    </dxi-item>


    


<dxi-item
location="after"
(click)="isPopupVisible = true" >
 <p id="titre">24 Septembre 2020</p><!--{{hour}}-->
</dxi-item>


 
  </dx-toolbar>





</header>

<!--POP-UP CALENDRIER-->
<dx-popup
id="popup"
title="Calendrier"
[(visible)]="isPopupVisible"
[width]="300"
[height]="250"
[dragEnabled]="false"
[closeOnOutsideClick]="true"
>
<dxo-position
my="top right"
at="bottom right"
of="#titre">
</dxo-position>

</dx-popup>

