<header class="header">
    <dx-button *ngIf="menuToggleEnabled" icon="menu" id="saveButton" (click)="toggleMenu()"></dx-button>
  <!--&nbsp;<span *ngIf="currentItem" id="currentitem">{{currentItem}}</span>
<span *ngIf="title" id="title">{{title}}</span>
  <span *ngIf="hour" id="date" (click)="isPopupVisible = true">24 Septembre 2020</span>-->
  
</header>

<!--POP-UP CALENDRIER-->
<dx-popup id="popup" title="Calendrier" [(visible)]="isPopupVisible" [width]="300" [height]="250" [dragEnabled]="false"
  [closeOnOutsideClick]="true">
  <dxo-position my="top right" at="bottom right" of="#titre">
  </dxo-position>

</dx-popup>