
.header{
  background-color: #edf2f7;
font-weight: 300;
font-size: 110%;

}
#currentitem{
//color:#cda265;
//font-weight: 400;
}
::ng-deep #saveButton  {
 
 background-color: #edf2f7;
 
}
::ng-deep #saveButton .dx-icon {
 
color:#4D7EB3;

  
 }
 #title{
  margin-left: 36%;
 

 }
 #date{
   margin-left:32%;
 }
/*



::ng-deep .header-title .dx-item-content {
 // padding: 0;
  //margin: 0;
  color:black;
//font-size: 50%;
text-align: center;
}

::ng-deep .header-title2 .dx-item-content {
 // padding: 0;
  //margin: 0;
  color:black;
  font-size: 10px;
  text-align: center;

}
:host-context(.dx-theme-generic) {
  .dx-toolbar {
  //padding: 10px 0;
  }

  .user-button>.dx-button-content {
   // padding: 3px;
  }
}
#titre{
  color:black;
  font-size: 50%;
  font-weight:500;
 
 
}
.header-toolbar{
  background-color:#edf2f7 ;
  height: 40px;
  }

.menu-button{

  margin-left:10px;
  color: #e0773e;
}

::ng-deep .ddd .dx-item-content{

  color:white;
  margin-left: 100%
}
#popup{

  margin-left:40%;

}



*/
