#background
{
  height:625px;
  margin-left: 0.4% ;
  border-radius: 0%;
  margin-top:-0.8%;
  width: 99.1%;
}

  .dx-field-label{

    font-size:120%;

  }

  #ajouter{
    margin-left : 80%;
    margin-bottom : 5%;
  }
#gridContainer{

  margin-top: -2%;
}