::ng-deep #chart {
  height: 100%;
  width : 100%;
}
#textbox{
    display: flex;
    justify-content: center;

  }

  .divi{

    display:inline-block;
    margin-left:2%;
    color:black;
  }


  #divi2{


    margin-left : 55%;

  }


  h5{
color:white;


  }
  #background{

    
    height:625px;
    margin-left: 0.4% ;
    border-radius: 0%;
    margin-top:-0.8%;
    width: 99.1%;

  }
  #textbox{
    margin-left:85%;
    margin-top: -1%;
     }