#card4 {
    height: 112px ;
    display: inline-block;
    margin-left: 0.2%;
margin-top:-0.8%;
  max-height:112px ;
  min-height: 112px;
    width : 24.5%;
    border-radius: 0%;
}
#card44 {
    height: 112px ;
    display: inline-block;
    margin-left: 0.4%;
margin-top:-0.8%;
  max-height:112px ;
  min-height: 112px;
    width : 24.5%;
    border-radius: 0%;
    font-weight: 300;
}
#card {
    width: 24.5% ;
    height: 112px;
    display: inline-block;
    margin-left: 0.2%;
   // margin-bottom: 0.005%;
   margin-top:-0.8%;
   max-height:112px ;
   min-height: 112px;
    border-radius: 0%;
}

#rond {
    background-color:#7dd67d;
    border-radius:50%;
    width: 5%;
    height: 30%;
    margin-top:-12%;
    margin-left : -16%;
    
}

#rond2 {
    background-color:#FB7764;
    border-radius:50%;
    width: 7%;
    height: 30%;
    margin-top:-10%;
    margin-left : -10%;
    box-shadow: 5px 2px 8px #888888;
    cursor:pointer;
}
.titrel {
   margin-top:-6%;
    margin-left : 49%;
  
   
    
}

.num {
    font-size : 500%;
    margin-left: 80%;
    color:grey;  
    
}

::ng-deep #pie {
height: 170%;
width: 150%;
position : relative;
margin-left : -40%;
margin-top : -7%;
}

#card3 {
    height: 239px;
    max-height:239px ;
    min-height: 239px;
    display: inline-block;
    margin-left: 0.4%;
    width: 99.2%;

    cursor: pointer;
    border-radius: 0%;
    margin-top:-0.2%;
}

#card3title {
    margin-top:-2%;
    margin-left:-2%;
    position : absolute;
    font-size:150%;
}

#card3:hover {
    box-shadow:0px 0px 10px #82a5c9;
    background-color:#e5e8ec;
}

::ng-deep #chart {
    height: 100%;
    width : 100%;
    margin-left:-1%;
    margin-right:-1%;
}


  
#card2 {
    margin-left: 0.2%;
    height: 260px;
    max-height:260px ;
    min-height: 260px;
    display: inline-block;
    width : 49.45%;
    cursor: pointer;
    border-radius: 0%;
    margin-top:-0.2%;
}
#card22 {
    margin-left: 0.4%;
    height: 260px;
    max-height:260px ;
    min-height: 260px;
    display: inline-block;
    width : 49.45%;
    cursor: pointer;
    border-radius: 0%;
    margin-top:-0.2%;
}
#titre {
    margin-left: 45%;
    font-size: 20px; 
}   



#card2:hover{
    box-shadow:0px 0px 10px #82a5c9;
    background-color:#e5e8ec;
}
    
#card22:hover{
    box-shadow:0px 0px 10px #82a5c9;
    background-color:#e5e8ec;
}
    

#titrel2{

    margin-top:-8%;
    margin-left : 50%;
    color: #27293D;
     font-size: 130%;
}


.num2{

    font-size : 450%;
    margin-left: 40%;
    color:grey;
    
}

#background{
    margin-left: 2%;
  
    height: 300px;
 
   margin-right:4%;

}

::ng-deep .dx-datagrid {  
    background-color:transparent; 
    cursor: pointer; 
  }  

