::ng-deep #chart {
    height: 100%;
    width : 100%;
  }


 
  #textbox{
   display: flex;
    //justify-content: center;
  }

  #background{

    
    height: 800px;
    margin-left: 1% ;
width:96.1%

  }